@keyframes bigger {
  to { transform: scale(1.2);}
}
.main {
  min-height: 100vh;
}

@keyframes beat{
	to { transform: scale(1.4); }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.header {
  width: 100%;
  font-size: 15px;
  line-height: 1.5;
  
  padding: 0 20px;
  background-image: linear-gradient(to right, #000, #404040);
  opacity: 0.8;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 120px;
  height: 30px;
}
.logo img {
  width: 100%;
  height: 100%;
}

.banner {
  width: 100%;
  /* height: 360px; */
  background-image: url('../../public/images/banner.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0px;
  /* position: relative; */
}
.buy_now {
  /* position: absolute; */
  bottom: 10%;
  width: 150px;
  background-color: #e6725b;
  color: #fff;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 20px;
  text-align: center;
  border-radius: 25px;
  animation: bigger .25s infinite alternate;
  margin-top: 20px;
}
.slogan {
  display: flex;
  /* position: absolute; */
  margin-left: 20px;
  padding-top: 20px;
  font-size: 28px;
  color: #333;
  font-weight: 700;
}

.slogan p {
  color: #ff3d00;
  margin-right: 5px;
}

.promotion {
  width: 100%;
  align-items:  baseline;
  padding: 0 20px;
  margin-top: 8px;
}

.flash_sale {
  color: #ee4d2d;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
}
.flash_sale_discount {
  color: #fff;
  background-color: #ee4d2d;
  border-radius: 2px;
  font-size: 12px;
  display: inline-block;
  padding: 3px 20px;
  font-weight: 400;
}
.flash_sale_price {
  display: flex;
  font-size: 26px;
  align-items: baseline;
}
.flash_sale_original_price {
  font-size: 16px;
  text-decoration: line-through;
  margin-right: 15px;
  color: #333;
}
.flash_sale_new_price {
  font-weight: bold;
}
.count_down {
  color: #333;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}
.count_down_block {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.count_down_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px 10px;
  font-size: 22px;
  font-weight: bold;
}

.count_down_item  p {
  background: #e6725b;
  padding: 7px 15px;
  color: #fff;
  border-radius: 6px;
}
.content_box {
  background-color: #fff;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  text-align: center;
  padding: 20px;
  /* border-top: 4px solid #e4e4e4; */
}

.content_box  p {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  padding: 5px;
 
}

.product_detail {
  padding: 20px;
  border-top: 4px solid #e4e4e4;
  margin-bottom: 10px;
}
.product_block {
  margin: 30px 0px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 20px;
}
.product_detail_title {
  color: black;
  font-size: 20px;
  line-height: 1.6;
  margin: 15px 0px;
  font-weight: 600;
  text-align: center;
}
.product_detail_item {
  display: flex;
  color: #545454;
  font-size: 15px;
  line-height: 1.6;
}
.product_detail_item p:first-child {
  width: 120px;
}
.product_detail_item p:last-child {
  color: #000000;
}

.login_form {
  background: linear-gradient(180deg, #1628a3, #141852);
  border-radius: 0px 0px 8px 8px;
  padding: 25px;
}
.form_item {
  margin-bottom: 20px;
}
.login_form p {
  color: #ee4d2d;
  margin: 0;
}
.input_form {
  border-radius: 5px;
  width: 100%;
  height: 45px;
  /* margin-bottom: 20px; */
  padding-left: 8px;
  font-size: 14px;
  border: unset;
}

.textarea_form {
  border-radius: 5px;
  width: 100%;
  padding-left: 8px;
  padding-top: 2px;
  font-size: 14px;
  border: unset;
}
.form_submit {
  text-align: center;
  line-height: 1.4;
  margin-top: 20px;
}

.form_submit button {
  background-color: yellow;
  color: #1628a3;
  outline: none;
  padding: 12px 25px;
  border-radius: 25px;
  min-width: 200px;
  border: unset;
  font-size: 16px;
  font-weight: 600;
}

.footer {
  background: linear-gradient(to bottom, #242451, #15152d);
  font-size: 15px;
  line-height: 1.5;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  padding: 15px 0px;
}
.footer_bg {
  position: absolute;
  background-image: url('../../public/images/backgroundfooter.png');
  opacity: 0.7;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer_box {
  padding: 30px;
}
.footer_logo {
  display: flex;
  justify-content: center;
}
.footer_title {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
  margin-top: 20px;
  text-transform: uppercase;
}

.footer_address {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
  margin: 20px 0px;
}
.footer_contact {
  background-color: #5e5e6e;
  font-size: 14px;
  text-align: center;
  margin: 2px 0px;
  padding: 5px;
}

.post {
  padding: 15px 10px;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0px;
}

.post_content {
  margin: 20px 0px;
  border-bottom: 1px solid #5e5e6e;
}

.post_content p{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
 
}

.post_content h6{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.post_img img {
  width: 100%;
  height: 350px;
  border-radius: 5px;
}

.home_slide_item {
  height: 250px;
  background-color: #a2a0a0;
  padding: 1px;
  border-radius: 5px;
}

.home_slide_item img{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.slide_paging {
  height: 50px;
  width: 60px;
  margin: 0 10px;
  border-radius: 5px;
}

.slide_paging img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.slick-dots-custom {
  position: unset ;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slide ul {
  display: flex !important;
  justify-content: center !important;
  list-style: none;
  margin: 10px 0px;
}

.slide {
  padding: 5px 10px;
}
.modal {
  position: absolute;
  inset: 40px;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px 2px #adaaaa;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  height: fit-content;
}
.modal_content {
text-align: center;
padding: 20px 10px;
}

.modal_content img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.modal_content h6 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.modal_content p {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}
.modal_content span {
  font-size: 12px;
  font-weight: 700;
  color: #ee4d2d;
  margin: 0px 2px;
}
.modal_content button {
  border: unset;
  padding: 10px 12px;
  border-radius: 5px;
  background-color: #ee4d2d;
  color: #fff;
  width: 100px;
}

.toast_container {
  border-radius: 5px;
  overflow: hidden;
  opacity: 0.9;
}

.toasty {
  font-size: 14px;
  color: #333;
  display: flex;
 align-items: center;
}
.toasty_body {
  padding: 0
}
.toasty_title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 4px;
}

.toasty_icon {
  /* background: cornflowerblue; */
  border: 1px solid cornflowerblue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  animation: beat .25s infinite alternate;
	transform-origin: center;
  margin-right: 25px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toasty_circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: cornflowerblue;
}

.fix_tel {
  cursor: pointer;
  background: #0288d1;
  text-decoration: none;
  z-index: 9999;
  color: #FFF !important;
  font-weight: 500;
  font-size: 1.3em;
  border-radius: 50%;
  position: fixed;
  bottom: 18px;
  right: 2%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: shake infinite 2s;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
